#include "c:\program files (x86)\national instruments\cvi2013\sdk\include\winver.h"


2 24 "d:\\NI Projects\\EXAM & cPython\\Python development\\cPython-Interface-for-NI-VeriStand\\Source\\CVI\\cvibuild.VeriStandCviDll\\Debug\\manifest.xml"


STRINGTABLE DISCARDABLE
BEGIN
  65535  ""
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x1L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "NI\0"
            VALUE "FileDescription", "VeriStandCviDll (Debug x86)\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "VeriStandCviDll\0"
            VALUE "LegalCopyright", "Copyright © NI 2015\0"
            VALUE "OriginalFilename", "VeriStandCviDll.dll\0"
            VALUE "ProductName", "NI VeriStandCviDll\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4b0
    END
END

CVIDLLexports CVIDLLprototypes
{
   "int CloseProject();"
   "\n",
   "int CloseVeriStand();"
   "\n",
   "int CloseWorkspace();"
   "\n",
   "int Close_VeristandPythonInterop();"
   "\n",
   "int Connect();"
   "\n",
   "int DeployProject();"
   "\n",
   "int DeployProjectWithProgress();"
   "\n",
   "int Disconnect();"
   "\n",
   "int DllMain(struct HINSTANCE__ *hinstDLL, unsigned long fdwReason, void *lpvReserved);"
   "\n",
   "int GetActiveProject(char *ActiveProject, int RequestedProjectIndex, int *numberOfProjects);"
   "\n",
   "int GetAllDeployedSessions(char *DeployedSession, int RequestedSessionIndex, int *numberOfSessions);"
   "\n",
   "int GetAvailableChannelToRead(char *channel, int requestedChannelIndex);"
   "\n",
   "int GetAvailableChannelToWrite(char *channel, int requestedChannelIndex);"
   "\n",
   "int GetAvailableChannelsToReadCount(int *numberOfChannels);"
   "\n",
   "int GetAvailableChannelsToWriteCount(int *numberOfChannels);"
   "\n",
   "int GetChannelValue(char *pszChannelName, double *pdValue);"
   "\n",
   "int GetDataLogging2SessionState(char *sLogConfigName, char *sSessionState);"
   "\n",
   "int GetDataLogging2State(char *sLogConfigName, int *sessionState);"
   "\n",
   "char *GetLastErrorMessage();"
   "\n",
   "int GetMultipleChannelValues(char **channelNames, double *dValues, int iLength, int iCharLineLength);"
   "\n",
   "int GetRTSequenceState(int *sessionState);"
   "\n",
   "int GetStimulusState(int *sessionState);"
   "\n",
   "int GetTDMSLogChannelCount(int *logChannelCount);"
   "\n",
   "int GetTDMSLogChannelProperty(int channelIndex, char *propertyName, char *propertyValue);"
   "\n",
   "int GetTDMSLogLength(long long *logLength);"
   "\n",
   "int GetTDMSLoggingRate(double *loggingRate);"
   "\n",
   "int GetTargetRate(double *TargetRate);"
   "\n",
   "int Initialize_VeristandPythonInterop();"
   "\n",
   "int IsOpenProjectRunning(int *running);"
   "\n",
   "int LaunchVeriStand();"
   "\n",
   "void LogErrorMessage(char *pszErrorMessage);"
   "\n",
   "int OpenProject(char *pszFileName);"
   "\n",
   "int OpenWorkspace();"
   "\n",
   "int RTSequenceExecuteAsynch(char *filePath, char **lParamNames, int lParamNamesLength, int lParamNamesLineLength, char **lParamValues, int lParamValuesLength, int lParamValuesLineLength, char **lParamTypes, int lParamTypesLength, int lParamTypesLineLength);"
   "\n",
   "int RTSequenceUndeploy();"
   "\n",
   "int RunProject();"
   "\n",
   "int SetChannelValue(char *pszChannelName, double dValue);"
   "\n",
   "int SetChannelValueSynch(char *pszChannelName, double dValue, double *pWriteTime);"
   "\n",
   "int SetMultipleChannelValues(char **channelNames, double *dValues, int iLength, int iCharLineLength);"
   "\n",
   "int SetMultipleChannelValuesSynch(char **channelNames, double *dValues, int iLength, int iCharLineLength, double *pWriteTime);"
   "\n",
   "int ShowProjectWindow();"
   "\n",
   "int StartDataLogging(char *logConfigName, char *logDescription, char *logFilePath, double lTriggerHighLimit, double lTriggerLowLimit, int lReplaceFile, enum NationalInstruments_VeriStand_ClientAPI_LogInfo_trigger lTriggerType, char *lTriggerChannel, double lRate, char **lFilePropertiesNames, int lFilePropertiesNamesLength, int lFilePropertiesNamesLineLength, char **lFilePropertiesValues, int lFilePropertiesValuesLength, int lFilePropertiesValuesLineLength, char **lChannelsToLog, int lChannelsToLogLength, int lChannelsToLogLineLength);"
   "\n",
   "int StartDataLogging2(char *logConfigName, char *logDescription, char *logFilePath, double fTriggerLevel, int lReplaceFile, int iTriggerSlope, char *lTriggerChannel, double lRate, char **lFilePropertiesNames, int lFilePropertiesNamesLength, int lFilePropertiesNamesLineLength, char **lFilePropertiesValues, int lFilePropertiesValuesLength, int lFilePropertiesValuesLineLength, char **lChannelsToLog, int lChannelsToLogLength, int lChannelsToLogLineLength, double fDuration, double fPreTriggerDuration, char **lChannelShortNames, int lChannelShortNamesLength, int lChannelShortNamesLineLength);"
   "\n",
   "int StimulusExecuteAsynch(char *filePath, char *UUTSerialNumber);"
   "\n",
   "int StopDataLogging(char *logConfigName);"
   "\n",
   "int StopDataLogging2(char *logConfigName);"
   "\n",
   "void StoreErrorForGetLastError(char *pszFunctionName, char *pszErrorMessage);"
   "\n",
   "void StoreErrorForGetLastErrorFromDotNetHandle(char *pszFunctionName, void **exceptionHandle);"
   "\n",
   "int TDMSClose();"
   "\n",
   "int TDMSOpen(char *filePath);"
   "\n",
   "int TDMSReadColumn(double *logColumnData, int iColumnLength, int channelIndex);"
   "\n",
   "int TDMSReadTimeColumn(double *logColumnData, int iColumnLength);"
   "\n",
   "int UndeployProject();"
   "\n",
   "int VeristandPythonInterop_VSLogChannel_FillParams(struct __VeristandPythonInterop_VSLogChannel *__instance, char *channelPath, char *customName, char *customGroup, char **lProperties, int __lPropertiesLength1, int __lPropertiesLength2, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VSLogChannel__Create(struct __VeristandPythonInterop_VSLogChannel **__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VSLogChannel__Get__lLogChannel(struct __VeristandPythonInterop_VSLogChannel *__instance, struct __NationalInstruments_VeriStand_ClientAPI_LogChannel **__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VSLogChannel__Set__lLogChannel(struct __VeristandPythonInterop_VSLogChannel *__instance, struct __NationalInstruments_VeriStand_ClientAPI_LogChannel *lLogChannel, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_CloseProject(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_CloseVeristand(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_CloseWorkspace(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_Connect(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_DeployProject(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_DeployProjectWithProgress(struct __VeristandPythonInterop_VeriStandInterop *__instance, int showProgress, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_Disconnect(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetActiveProjects(struct __VeristandPythonInterop_VeriStandInterop *__instance, char ***__returnValue, int *____returnValueLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetAllDeployedSessions(struct __VeristandPythonInterop_VeriStandInterop *__instance, char ***__returnValue, int *____returnValueLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetAvailableChannelToRead(struct __VeristandPythonInterop_VeriStandInterop *__instance, int channelIndex, int *availableChannelCount, char **__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetAvailableChannelToWrite(struct __VeristandPythonInterop_VeriStandInterop *__instance, int channelIndex, int *availableChannelCount, char **__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetAvailableChannelsToReadCount(struct __VeristandPythonInterop_VeriStandInterop *__instance, int *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetAvailableChannelsToWriteCount(struct __VeristandPythonInterop_VeriStandInterop *__instance, int *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetChannelValue(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *channelIdentidier, double *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetDataLogging2SessionState(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *logConfigName, char **__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetDataLogging2State(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *LogConfigName, int *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetMultipleChannelValues(struct __VeristandPythonInterop_VeriStandInterop *__instance, char **names, int __namesLength, double **__returnValue, int *____returnValueLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetNewVeristandInterop(struct __VeristandPythonInterop_VeriStandInterop **__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetTargetIP(struct __VeristandPythonInterop_VeriStandInterop *__instance, char **__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetTargetRate(struct __VeristandPythonInterop_VeriStandInterop *__instance, double *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_GetVeristandInterop(struct __VeristandPythonInterop_VeriStandInterop **__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_LaunchVeriStand(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_LaunchVeriStand_1(struct __VeristandPythonInterop_VeriStandInterop *__instance, int runAs, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_OpenProject(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *projectPath, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_OpenWorkspace(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_RTSequenceExecuteAsynch(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *RTSequenceFile, char **ParamNames, int __ParamNamesLength, char **ParamValues, int __ParamValuesLength, char **ParamTypes, int __ParamTypesLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_RTSequenceState(struct __VeristandPythonInterop_VeriStandInterop *__instance, int *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_RTSequenceUndeploy(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_RunProject(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_SetChannelValue(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *channelIdentifier, double value, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_SetChannelValueSynch(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *channelIdentifier, double value, double *writeTime, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_SetMultipleChannelValues(struct __VeristandPythonInterop_VeriStandInterop *__instance, char **names, int __namesLength, double *values, int __valuesLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_SetMultipleChannelValuesSynch(struct __VeristandPythonInterop_VeriStandInterop *__instance, char **names, int __namesLength, double *values, int __valuesLength, double *writeTime, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_ShowProjectWindow(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_StartDataLogging(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *logConfigName, char *lDescription, char *lFilePath, double lTriggerHighLimit, double lTriggerLowLimit, int lReplaceFile, enum NationalInstruments_VeriStand_ClientAPI_LogInfo_trigger lTriggerType, char *lTriggerChannel, double lRate, char **lFilePropertiesNames, int __lFilePropertiesNamesLength, char **lFilePropertiesValues, int __lFilePropertiesValuesLength, char **lChannelsToLog, int __lChannelsToLogLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_StartDataLogging2(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *logConfigName, char *lDescription, char *lFilePath, double fTriggerLevel, int iTriggerSlope, char *lTriggerChannel, double lRate, char **lFilePropertiesNames, int __lFilePropertiesNamesLength, char **lFilePropertiesValues, int __lFilePropertiesValuesLength, char **lChannelsToLog, int __lChannelsToLogLength, double lDuration, double lPreTriggerDuration, int lReplaceFile, char **lChannelShortNames, int __lChannelShortNamesLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_StimulusExecuteAsynch(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *stimulusFile, char *uutSerialNumber, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_StimulusState(struct __VeristandPythonInterop_VeriStandInterop *__instance, int *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_StopDataLogging(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *LogConfigName, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_StopDataLogging2(struct __VeristandPythonInterop_VeriStandInterop *__instance, char *LogConfigName, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandInterop_UndeployProject(struct __VeristandPythonInterop_VeriStandInterop *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_GetTDMSLogChannelCount(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, int *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_GetTDMSLogChannelProperty(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, int channelIndex, char *propertyName, char **__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_GetTDMSLogLength(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, long long *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_GetTDMSLoggingRate(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, double *__returnValue, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_TDMSClose(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_TDMSOpen(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, char *filePath, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_TDMSReadColumn(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, int reqColumn, double **__returnValue, int *____returnValueLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_TDMSReadLine(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, int reqLine, double **__returnValue, int *____returnValueLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler_TDMSTimeColumn(struct __VeristandPythonInterop_VeriStandTDMSHandler *__instance, double **__returnValue, int *____returnValueLength, void **__exception);"
   "\n",
   "int VeristandPythonInterop_VeriStandTDMSHandler__Create(struct __VeristandPythonInterop_VeriStandTDMSHandler **__instance, void **__exception);"
   "\n",
   "\0"
}
