#include "c:\program files (x86)\national instruments\cvi2013\sdk\include\winver.h"


2 24 "d:\\NI Projects\\EXAM & cPython\\Python development\\cPython-Interface-for-NI-VeriStand\\Source\\CVI\\cvibuild.VeriStandCviDll\\Debug\\manifest.xml"


STRINGTABLE DISCARDABLE
BEGIN
  65535  ""
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x1L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "NI\0"
            VALUE "FileDescription", "VeriStandCviDll (Debug x86)\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "VeriStandCviDll\0"
            VALUE "LegalCopyright", "Copyright © NI 2015\0"
            VALUE "OriginalFilename", "VeriStandCviDll.dll\0"
            VALUE "ProductName", "NI VeriStandCviDll\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4b0
    END
END
